.quiz {
    border: 1px solid #42a5f5;
    width: 50%;
    margin: 0 auto;
}

.quiz__length {
    border-bottom: 1px solid #42a5f5;
}

.quiz__image img {
    width:100%
}

.quiz__buttons {
    display: flex;
    flex-direction: column;
}


.quiz__component {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}