.form {
    width: 50%;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.form-box {
    margin-top: 30px;
}

.box-mirror {
    flex-direction: column;
}

.form-error {
    color: brown;
}