.header {
    padding:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

.header__links {
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}